/* Regular tag formatting */
body, table {
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 15px;
}
img {
	border-style: none;
}
/* Links and Link Classes formatting */
a:link {
	color: #8d6d49;
	text-decoration: none;
}
a:visited {
	color: #8d6d49;
	text-decoration: none;
}
a:hover {
	color: #8d6d49;
	text-decoration: underline;
}
.menu:link {
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #999999;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	text-decoration: none;
}
.menu:visited {
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #999999;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	text-decoration: none;
}
.menu:hover {
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #D3BE96;
	text-decoration: none;
}

/* Specific Classes */
.selected {
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	background-color: #D3BE96;
	text-decoration: none;
}
.error {
	border-color: red;
	border-style: solid;
	border-width: 1px;
	padding: 3px;
	color: red;
	margin: 25px 10px;
}
.brown {
	color: #8d6d49;
	text-align: center;
}
.home {
	color: #999999;
	font-family: sans-serif;
	font-size: 9px;
	letter-spacing: 3px;
	font-weight: bold;
}

.today {
	font-weight:bold;
	font-size: 18px;
	background-color: #8d6d49;
	text-align: right;
	color: #FFFFFF;
}